
#type-select{
    margin: auto;
    display: block;
    width: 200px;
    margin-top: 40px;
}

#antal{
    position: absolute;
    top: 10%;
    left: 65%;
    
}

#genbtndiv {
    text-align: center;
    position: absolute;
    top: 90%;
    width: 100%;
}
#genbtn{
    font-size: 30px;
}

#kassebeholder {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 15px;
}
.kasse:first-of-type {
    border-top: 2px solid;  
}
.kasse {
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    padding: 5px;
    display: block;
    text-align: center;

}

#tilbagebtn{
    position: absolute;
    top: 2%;
    left: 2%;
    width: 100%;
}

#tilbage {
   font-size: 20px; 
}



.kasse img {
    width: 100px;

}

body{
    overflow-x:hidden;
}