#title{
    position: absolute;
    top: 44%;
    left: 44%;
    background-color: rgb(113, 113, 238);
    border: 2px solid black;
    border-radius: 12px;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.dumknap {
    position: absolute;
    overflow: hidden;
}

.dumknap2 {
    position: absolute;
    overflow: hidden;
}

body {
    overflow: hidden;
}

#forside{
    background-repeat: no-repeat;
    background-image: url(./assets/forside.png);
    display: block;
    background-size: contain;
    width: 75px;
    height: 75px;
}
#forside:hover {
    background-size: contain;
    background-image: url(./assets/forsideklik.png);
}

#tilfknap {
    background-repeat: no-repeat;
    background-image: url(./assets/terning.png);
    display: block;
    background-size: contain;
    width: 75px;
    height: 75px;
}

#tilfknap:hover {
    background-size: contain;
    background-image: url(./assets/terningklik.png);
}